video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    right: 0;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    z-index: -1;
  }
  /* body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  } */
  .container{
    width: 300px;
    background-color: rgba(255, 255, 255, 0.438);
    text-align: center;
    position: relative;
    left: 170px;
    border-radius: 15px;
  }

  .container h3{
    font-size: 60px;
  }
  .button{
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.438);
    width: 300px;
    padding: 15px;
    text-align: center;
    position: relative;
    top: 225px;
    left: 150px;
  }

  button{
    padding: 10px 20px;
    border-radius: 10px;
    margin-right: 15px;
    cursor: pointer;
  }
  .start{
    background-color: rgb(8, 155, 8);
  }
  .stop{
    background-color: red;
  }
  .reset{
    background-color: orange;
  }



  @media (max-width: 920px) {
    video {
      height: 100vh;
      width: 100vw;
     
    }
  }

  .size{
    font-size: 25px;
  }